.catalog {
  position: relative;
  display: flex;
  align-items: center;
}

.catalogTxt {
  color: white;
  font-family: "Jost";
  font-size: 25px;
  user-select: none;
  cursor: pointer;
  margin-right: 8px;
}
