.container {
  max-width: 1256px;
  padding: 0 20px;
  margin: 50px auto 200px auto;
  @media (max-width: 768px) {
    margin: 30px auto 200px auto;
  }

  @media (max-width: 576px) {
    margin: 20px auto 200px auto;
  }
}

.btn {
  width: 280px;
  height: 70px;
  margin-top: 50px;
  margin-left: calc(50% - 140px);
}
