.item {
  margin-top: 20px;
  width: 289px;
  height: 384px;
  position: relative;
  transition: 0.2s;
  background-color: #f5f5f5;
}

.itemContainer {
  background-color: #f5f5f5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 384px;
  padding-top: 20px;
  position: absolute;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
    height: 454px;
    top: -25px;
    z-index: 1;

    .button {
      opacity: 1;
    }
  }
}

.itemName {
  margin-left: 30px;
  margin-top: 6px;
  width: 229px;
  min-height: 48px;
  max-height: 48px;
  font-size: 17px;
  font-family: "Jost";
  color: var(--dark);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.itemPrice {
  width: 229px;
  height: 31px;
  font-family: "Jost";
  font-size: 24px;
  margin-left: 30px;
  margin-top: 10px;
  font-weight: bold;
  color: var(--orange);
}

.button {
  position: relative;
  align-self: center;
  margin-top: 20px;
  opacity: 0;
  transition: 0.1s;
  height: 51px;
  width: 259px;
  @media (max-width: 1024px) {
    width: 208px;
  }
}

.favorite {
  position: absolute;
  margin-top: 10px;
  margin-left: 235px;
  z-index: 1;

  &:hover {
    svg path {
      fill-rule: nonzero;
      fill: var(--orange);
    }
  }
}

@media (max-width: 1024px) {
  .item,
  .itemContainer {
    margin-top: 0px;
    width: 229px;
    height: 403px;
    &:hover {
      box-shadow: none;
      height: 403px;
      top: 0px;
    }
  }

  .item {
    margin-right: 20px;
  }
  .favorite {
    margin-left: 175px;
  }
  .button {
    opacity: 1;
  }
  .itemName {
    max-width: 169px;
    max-height: 42px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
  }
}
