.blockBtn {
  cursor: pointer;
  &:hover {
    svg path {
      fill: var(--orange);
    }
    .txtBtn {
      fill: white;
    }
  }
}

.txtBtn {
  font-size: 20px;
  font-family: "Jost";
  fill: var(--orange);
  user-select: none;
}
