.aboutContainer {
  max-width: 1568px;
  height: 635px;
  margin-top: 120px;
  display: flex;
  padding-right: 15px;
  @media (max-width: 1300px) {
    padding-right: 0px;
    flex-direction: column;
    min-height: 953px;
  }
}

.aboutIm {
  height: 100%;
  width: 60%;
  background-image: url(../../assets/images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1300px) {
    width: 100%;
  }
}

.aboutInfo {
  align-self: center;
  width: 598px;
  height: 503px;
  margin-left: 40px;
  @media (max-width: 1300px) {
    width: 728px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.aboutInfoHead {
  display: block;
  font-size: 50px;
  font-family: "Forum";
  color: var(--orange);
}

.aboutInfoDesc {
  margin-top: 20px;
  display: block;
  font-size: 17px;
  color: var(--dark);
}
.btn {
  width: 277px;
  height: 70px;
  margin-top: 40px;
  @media (max-width: 1300px) {
    margin-left: calc(50% - 275px / 2);
  }
}
