.catalogContainer {
  width: 1216px;
  height: 1570px;
  margin: 120px auto 0px auto;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.catalogHeader {
  grid-row: 1/ 2;
  display: flex;
  justify-self: center;
}

.itemName {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
}

.catalogBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 19px;
}
.item {
  background-color: #f5f5f5;
  cursor: pointer;
  position: relative;
  height: 350px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center calc(100% - 10px);

  &:nth-child(1) {
    width: 494px;

    background-position: right;
    background-image: url(../../assets/images/catalog-category/tattoo-kits.png);

    .itemName {
      width: 30px;
    }
  }
  &:nth-child(2) {
    width: 701px;
    background-image: url(../../assets/images/catalog-category/holders.png);
  }
  &:nth-child(3) {
    width: 342px;
    background-image: url(../../assets/images/catalog-category/tattoo-machine.png);
  }
  &:nth-child(4) {
    width: 493px;
    background-image: url(../../assets/images/catalog-category/wires.png);
    background-position: right;
    .itemName {
      width: 30px;
    }
  }
  &:nth-child(5) {
    width: 341px;
    background-image: url(../../assets/images/catalog-category/paints.png);
  }
  &:nth-child(6) {
    width: 495px;
    background-image: url(../../assets/images/catalog-category/power.png);
  }
  &:nth-child(7) {
    width: 341px;
    background-image: url(../../assets/images/catalog-category/tattoo-tips.png);
  }
  &:nth-child(8) {
    width: 341px;
    background-image: url(../../assets/images/catalog-category/tattoo-needles.png);
  }
  &:nth-child(9) {
    width: 340px;
    background-image: url(../../assets/images/catalog-category/consumables.png);
  }
  &:nth-child(10) {
    width: 340px;

    background-image: url(../../assets/images/catalog-category/accessories.png);
  }
  &:nth-child(11) {
    width: 495px;
    margin-left: 1px;
    background-image: url(../../assets/images/catalog-category/printers.png);
  }
}
