.catalogContainer {
  width: 1216px;
  height: 1570px;
  margin: 120px auto 0px auto;
  display: grid;
  grid-template-rows: 100px 1fr 110px;
  @media (max-width: 768px) {
    width: 728px;
    height: 1212px;
  }
}

.catalogHeader {
  grid-row: 1/ 2;
  display: flex;
  justify-self: center;
  @media (max-width: 768px) {
    justify-self: flex-start;
  }
}

.catalogBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 19px;
}
