.container {
  align-self: start;
  max-width: 392px;
  padding: 30px 0px 40px 0px;
  background-color: var(--white);
}
.priceInfoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding: 0 40px;
}
.priceInfoContainer {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 17px;
  color: var(--dark);
}

.infoValueTxt {
  font-weight: 500;
  text-align: right;
}

.totalPrice {
  font-size: 25px;
  font-weight: bold;
}

.promocodeContainer {
  margin: 33px 0 40px 0;
  padding: 0 40px;
}

.inputPromocode {
  input {
    border: 2px solid var(--txt-gray2);
  }
}

.lineBtn {
  margin: 15px 0 0px 0;
  display: flex;
  justify-content: center;
}

.radiosWrapper {
  margin: 30px 0px 40px 0px;
  padding: 0 40px;
}

.radiosTitle {
  font-size: 20px;
  line-height: 30px;
  color: var(--dark);
  font-weight: 600;
}

.radios {
  margin-top: 15px;
}

.radio {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.radiosContainer {
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
}

.btnWrapper {
  margin-top: 40px;
  padding: 0 30px;
}

.clipBtn {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}

.checked {
  margin-top: 20px;
  justify-content: center;
}

.link {
  color: var(--orange);
  text-decoration-line: underline;
}

@media (max-width: 576px) {
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .block2 {
    order: 1;
  }

  .block1 {
    margin-top: 40px;
    order: 2;
  }

  .btnWrapper {
    order: 3;
  }

  .radiosWrapper {
    margin-top: 0px;
  }
}

@media (max-width: 392px) {
  .radiosWrapper,
  .priceInfoWrapper,
  .promocodeContainer {
    padding: 0 20px;
  }
  .btnWrapper {
    padding: 0 10px;
  }
  .checked {
    margin-left: 10px;
  }
}
