.promocodeItem {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding-bottom: 40px;
  @media (max-width: 768px) {
    padding-bottom: 30px;
  }
  @media (max-width: 650px) {
    width: 100%;
  }
}

.promItemImg {
  width: 100%;
  height: 208px;
  object-fit: cover;
}

.promDescContainer {
  margin: 0 30px;
  margin-top: 22px;
  flex-grow: 1;
  margin-bottom: 30px;
}
.promHeaderTxt {
  font-weight: 600;
  font-size: 24px;
  color: var(--dark);
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.promDesc {
  p {
    margin-top: 6px;
    font-size: 16px;
    color: var(--dark);
  }
}

.btn {
  margin: 0 30px;
  height: 70px;
  @media (max-width: 768px) {
    margin: 0 20px;
  }
}
