.swiper__container {
  width: 100%;
  overflow: hidden;
  touch-action: pan-y;

  height: 100%;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.swiper__list {
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;

  &:first-child {
    margin-left: 0;
  }
}

.swiper__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
}

.swiper__pagination__item {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  border: 2px solid var(--orange);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    background-color: var(--orange);
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.4s;
  }
}

.active {
  &::after {
    opacity: 1;
  }
}
