.swiperPagination {
  width: 40px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: calc(1216px + (95% - 1216px) / 2);
  top: 100px;
}

.upBox {
  align-self: flex-end;
  margin-bottom: 5px;
  margin-top: 0px;
}

.swiperBtn {
  cursor: pointer;
  display: flex;
  height: 86px;
  width: 40px;
}

.line {
  position: relative;
  height: 36px;
  width: 2px;
  background-color: #bb8c5f;
  transition: 0.2s;
  &::after {
    background-color: #bb8c5f;
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    left: -2px;
  }
}

.swiperBtnBox {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #bb8c5f;
  margin-top: 5px;
  .up {
    margin-top: -20px;
    &::after {
      top: -2px;
    }
  }

  .down {
    margin-top: 20px;
    &::after {
      top: 100%;
    }
  }

  .active {
    height: 64px;
  }

  .active.up {
    margin-top: -44px;
  }
}
