.linkRow {
  width: 560px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.link {
  font-size: 17;
  color: white;
  font-family: "Jost";
}

.linkBlock {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
  align-self: flex-end;

  &::after {
    content: "";
    position: absolute;
    height: 0px;
    width: 6px;
    bottom: -2px;
    right: calc(50% - 3px);
    clip-path: polygon(
      3px 0px,
      6px 3px,
      4px 6px,
      4px 100%,
      2px 100%,
      2px 6px,
      0px 3px
    );
    background-color: var(--orange);
    transition: 0.2s;
  }
}

.linkBlock:not(.active):hover {
  .link {
    color: var(--orange);
  }
  &::after {
    height: 20px;
  }
}

.active {
  .link {
    color: var(--orange);
  }
  &::after {
    height: 20px;
  }
}

@media (max-width: 1218px) {
  .linkRow {
    width: 460px;
  }
}
