.linkRow {
  align-self: center;
}

.linkList {
  display: flex;
  list-style: none;
}

.link {
  font-size: 17;
  color: white;
  font-family: "Jost";
  position: relative;
  white-space: nowrap;
  &::after {
    content: "";
    position: absolute;
    height: 0px;
    width: 6px;
    left: calc(50% - 3px);
    bottom: -20px;
    clip-path: polygon(
      3px 0px,
      6px 3px,
      4px 6px,
      4px 100%,
      2px 100%,
      2px 6px,
      0px 3px
    );
    background-color: var(--orange);
    transition: 0.2s;
  }

  @media (min-width: 992px) {
    &:hover::after {
      height: 17px;
    }
    &:hover {
      color: var(--orange);
    }
  }
}

.active {
  &::after {
    height: 17px;
  }
  color: var(--orange);
}

.linkElement {
  margin-left: 60px;
  &:first-child {
    margin-left: 0px;
  }
}
