.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  z-index: 3;
}

.swiperContainer {
  position: relative;
  margin: 100px auto 0 auto;
  max-width: 1032px;
}
.swiper {
  max-width: 832px;
  margin: 0 auto 0 auto;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 20px auto 0 auto;
  gap: 10px;
}

.pagItem {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  transition: 0.2s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.itemActive {
  opacity: 1;
}

.slideImg {
  width: inherit;
}

%btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid var(--orange);
  background-color: var(--white);
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  z-index: 10;
}
.btnPrev {
  @extend %btn;
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    background-color: var(--orange);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.btnNext {
  @extend %btn;
  left: unset;
  right: 0px;
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background-color: var(--orange);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 992px) {
  .swiperContainer {
    margin-top: 50px;
  }
  %btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .pagItem {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  .swiperContainer {
    margin-top: 30%;
  }
  .pagItem {
    width: 30px;
    height: 30px;
  }
}
