.container {
  max-width: 804px;
}
%grid {
  display: grid;
  grid-template-columns: 315px 1fr 1fr 1fr;
  column-gap: 30px;
}

.divider {
  background-color: var(--gray);
  margin-top: 20px;
}

.tableRow {
  @extend %grid;
  margin-top: 20px;
}
.tableHeader {
  @extend %grid;
  font-size: 15px;
  color: var(--dark);
}
.itemImg {
  max-width: 103px;
}

.itemImgNameContainer {
  display: flex;
  align-items: center;
  height: 103px;
}
.tableHeadTxt,
.itemTxt {
  align-self: center;
  justify-self: center;
}
.itemTxt {
  font-size: 17px;
  color: var(--dark);
}

.itemName {
  margin-left: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
