.search {
  display: flex;
  align-items: center;
  width: 418px;
  height: 44px;
  border: 1px solid #bb8c5f;
}

.myInput {
  background-color: #030201;
  border: none;
  height: 90%;
  width: 80%;
  color: white;
  font-family: "Jost";
  font-size: 15px;
}

.myInput:focus {
  outline: none;
}
