.myInput {
  border: 1px solid var(--dark-orange);
  width: 100%;
  height: 44px;
  padding: 1px 15px 0px 54px;
  background-color: transparent;
  font-size: 17px;
  color: rgba(250, 246, 242, 1);
  background-image: url(../../../assets/staticIcons/search.svg);
  background-repeat: no-repeat;
  background-position: 22px 50%;
}

.myInput:focus {
  outline: 1px solid var(--orange);
}

.myInput::placeholder {
  font-size: 15px;
  color: rgba(99, 107, 120, 1);
}
