.container {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 515px;
  &:first-child {
    margin-top: 0;
  }
}

.characteristic {
  display: flex;
  justify-content: space-between;
  margin-right: 56px;

  span {
    font-size: 15px;
  }

  @media ((max-width: 1024px) and (min-width: 992px)) or (max-width: 420px) {
    margin-right: 0px;
  }
}
.key {
  color: var(--txt-gray2);
}

.value {
  width: 130px;
  text-align: left;
  color: var(--dark);
}

@media (max-width: 992px) {
}
