.swiper-pagination-bullet {
  position: relative;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 2px solid var(--dark-orange);
  border-radius: 0px;
  background-color: transparent;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--orange);
    opacity: 0;
    transition: 0.4s;
  }
}

.swiper-pagination-bullet-active {
  &::after {
    opacity: 1;
  }
  border: 2px solid var(--dark-orange);
}
