.brandsContainer {
  width: 1376px;
  height: 289px;
  margin: 0 auto;
  margin-top: 120px;
  @media (max-width: 1400px) {
    width: 985px;
  }

  @media (max-width: 1024px) {
    width: 728px;
  }
}
.sliderContainer {
  margin: 0 auto;
  width: 1216px;
  height: 100%;
  @media (max-width: 1400px) {
    width: 985px;
  }

  @media (max-width: 1024px) {
    width: 728px;
  }
}
.brandsContainerHead {
  padding: 0px 80px;
  position: relative;

  @media (max-width: 1400px) {
    padding: 0px 0px;
  }
}
.brandsLink {
  font-size: 25px;
  color: var(--dark);
  display: block;
  width: 146px;
  margin-left: auto;
}
.brandsContainerBody {
  width: 1376px;
  @media (max-width: 1400px) {
    width: 985px;
  }
  @media (max-width: 1024px) {
    width: 728px;
  }
}

.btn {
  height: 50px;
  width: 50px;
  border: 2px solid var(--orange);
}
.slide {
  height: 220px;
  width: 1216px;
  margin-right: 80px;
  @media (max-width: 1400px) {
    width: 985px;
  }
  @media (max-width: 1024px) {
    width: 728px;
  }
}
.btn {
  top: calc(50% - 25px);
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid var(--orange);
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    width: 12px;
    height: 10px;
    clip-path: polygon(0px 0px, 50% 100%, 100% 0);
    background-color: var(--orange);
  }

  &:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 1400px) {
    display: none;
  }
}
.btnPrev {
  right: 0px;
  &::after {
    rotate: -90deg;
    right: calc(50% - 6px);
  }
}

.btnNext {
  left: 0px;
  &::after {
    left: calc(50% - 6px);
    rotate: 90deg;
  }
}
