.brandsContainer {
  width: 1376px;
  height: 289px;
  margin: 0 auto;
  margin-top: 120px;
  display: grid;
  grid-template-rows: 85px 1fr;
}

.brandsContainerHead {
  padding: 0px 80px;
  position: relative;
}
.brandsLink {
  font-size: 25px;
  color: var(--dark);
  position: absolute;
  right: 80px;
  bottom: 0px;
}
.brandsContainerBody {
  width: 1376px;
}

.btn {
  height: 50px;
  width: 50px;
  border: 2px solid var(--orange);
}
.brandsBlock {
  width: 1216px;
  height: 100%;
  margin: 0 auto;
}

.brands {
  display: grid;
  grid-template-columns: 232px 250px 250px 250px 232px;
  grid-template-rows: repeat(2, 1fr);
  width: 1216px;
  height: 100%;
}

.brandItem {
  position: relative;
  border: 1px solid var(--gray);
  border-top: none;
  padding: 20px;
  padding-top: 0px;

  &::after {
    content: "";
    position: absolute;
    left: -3px;
    top: 0;
    width: 6px;
    height: 7px;
    background-color: var(--gray);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
  }
}

.brandItem:nth-child(1) {
  border-left: none;
  padding-left: 0px;
  &::after {
    top: calc(100% - 3px);
    rotate: -90deg;
    width: 6px;
    height: 7px;
  }
}
.brandItem:nth-child(5) {
  border-right: none;
  padding-right: 0px;
}
.brandItem:nth-child(6) {
  border-left: none;
  padding-left: 0px;
}
.brandItem:nth-child(n + 6) {
  border-bottom: none;
  padding-bottom: 0px;
  padding-top: 20px;
  &::after {
    left: calc(100% - 2px);
    top: calc(100% - 7px);
    rotate: 180deg;
  }
}

.brandItem:nth-child(10) {
  border-right: none;
  padding-right: 0px;
  &::after {
    top: -4px;
    rotate: 90deg;
    width: 6px;
    height: 7px;
  }
}

.brandImg {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.slide {
  height: 220px;
  width: 1216px;
  margin-left: 80px;
}
.btn {
  top: calc(50% - 25px);
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid var(--orange);
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    width: 12px;
    height: 10px;
    clip-path: polygon(0px 0px, 50% 100%, 100% 0);
    background-color: var(--orange);
  }

  &:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
  }
}
.btnPrev {
  right: 0px;
  &::after {
    rotate: -90deg;
    right: calc(50% - 6px);
  }
}

.btnNext {
  left: 0px;
  &::after {
    left: calc(50% - 6px);
    rotate: 90deg;
  }
}
