.serviceContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 0px 00px 40px 00px;
}

.serviceImg {
  max-width: 100%;
}

.serviceBody {
  margin: 20px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.bodyTitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--dark);
}

.bodyDescription {
  color: var(--dark);
  margin-top: 10px;
  flex-grow: 1;
}

.servicePrice {
  color: var(--txt-gray2);
  font-size: 17px;
  margin-top: 20px;
}
.clipBtn {
  display: block;
  margin-top: 15px;
  padding: 0 30px;

  height: 70px;
}

.readMoreBtn {
  display: none;
  color: var(--orange);
  margin-top: 10px;
}

@media (max-width: 768px) {
  .bodyTitle {
    font-size: 20px;
  }
  .clipBtn {
    padding: 0 15px;
  }
  .serviceBody {
    margin: 20px 30px 0px 30px;
  }

  .readMoreBtn {
    display: block;
  }

  .bodyDescription {
    span:not(.readMore) {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media (max-width: 432px) {
  .clipBtn {
    padding: 0 0;
  }
  .serviceBody {
    margin: 20px 13px 0px 13px;
  }
}
