.moreItemsMoreDiscountContainer {
  margin: 70px 0px 0px 0px;
}
.moreItemsBodyContainer {
  background-color: var(--white);
  padding: 40px 0px 30px 0px;
  margin-top: 25px;
}

.title {
  margin: 0 20px;
}
.moreItemsHead {
  margin: 0px 50px;
  font-size: 25px;
  font-weight: bold;
  color: var(--dark);
}
.scrollDiv {
  margin: 30px 15px 0px 15px;
}

.moreItemsContainer {
  display: flex;
  align-items: center;
}

%pseudoPlus {
  content: "";
  position: absolute;
  background-color: var(--dark);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0px 10px;

  &::after {
    @extend %pseudoPlus;
    width: 18px;
    height: 2px;
  }

  &::before {
    @extend %pseudoPlus;
    width: 2px;
    height: 18px;
  }
}

.discountContainer {
  display: flex;
  margin: 30px 30px 0px 30px;
}

.addInBasketBtn {
  max-width: 275px;
  height: 70px;
}

.countItems {
  flex-grow: 1;
  font-size: 17px;
  color: var(--txt-gray2);
}

.priceInfo {
  display: flex;
  align-items: center;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.price {
  margin-top: 10px;
}

.discountTxt {
  margin-left: 15px;
}

.savingPrice {
  padding: 15px;
  background-color: var(--red);
  margin-left: 20px;
  font-size: 17px;
  color: var(--white);
}

.divider {
  background-color: var(--gray);
  margin-top: 20px;
}

@media (max-width: 680px) {
  .discountContainer {
    flex-direction: column;
  }

  .priceContainer {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 380px) {
  .discountContainer {
    margin: 30px 0px 0px 0px;
  }

  .addInBasketBtn {
    width: 100%;
  }

  .priceInfo {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .scrollDiv {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    &::-webkit-scrollbar {
      height: 1px;
      background-color: var(--gray);
    }

    &::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: var(--orange);
    }
  }
  .divider {
    display: none;
  }

  .moreItemsHead {
    margin: 0px 20px;
  }

  .plus {
    margin: 0 5px;
  }
}

@media (max-width: 576px) {
  .moreItemsHead {
    font-size: 17px;
  }

  .scrollDiv {
    height: 247px;
  }

  .plus {
    width: 10px;
    height: 10px;
    &::after {
      width: 10px;
      height: 1px;
    }

    &::before {
      height: 10px;
      width: 1px;
    }
  }
}
