* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #bb8c5f;
  --dark-orange: #524336;
  --dark: #3e424b;
  --gray: #d0d0d0;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

body {
  background-color: #e3e3e3;
  font-family: "Jost";
}

a {
  cursor: pointer;
}

.page {
  width: 100%;
  min-height: 500px;
}

.icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txtHeaderBlock {
  font-family: "Forum";
  font-size: 60px;
  color: #3e424b;
}

.divider {
  position: relative;
  width: 100%;
  height: 6px;
}

.divider .line {
  height: 1px;
  background-color: var(--dark-orange);
  position: relative;
}

.divider .line::before,
.divider .line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--dark-orange);
}

.divider .line::before {
  left: -6px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.divider .line::after {
  right: -6px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
