* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e3e3e3;
  font-family: "Jost";
}

.page {
  width: 100%;
  min-height: 500px;
}

.icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txtHeaderBlock {
  font-family: "Forum";
  font-size: 60px;
  color: #3e424b;
}
