.subscribeContainer {
  width: 90vw;
  height: 562px;
  margin-left: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.subscribeForms {
  height: 544px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribeFormsHead {
  font-size: 60px;
  font-family: "Forum";
  color: var(--dark);
}

.subscribeFormsDesc {
  font-size: 25px;
  color: var(--dark);
  font-weight: 500;
}

.subscribeImg {
  background-image: url(../../assets/images/hand2.png);
  width: 800px;
  height: 100%;
  background-size: cover;
}
