.rightFooter {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
    margin-top: 75px;
  }
}
.txt {
  color: #faf6f2;
  font-size: 20px;
}
.rightData {
  width: 350px;
  height: 140px;
  margin-left: 102px;
  margin-top: 129px;
  @media (max-width: 1024px) {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 70px;
  }
}

.upRight {
  display: flex;
  flex-direction: column;
}

.contacts {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone {
  display: flex;
  width: 181px;
  height: 30px;
  justify-content: space-between;
}
.iconContacts {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 144px;
}
.linkIcon {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid var(--orange);
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 17px;
  color: rgba(99, 107, 120, 1);
  margin-top: 12px;
}

.mail {
  margin-top: 33px;
  display: flex;
  width: 202px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
