.container {
  max-width: 1216px;
  margin: 50px auto 160px auto;
  @media (max-width: 1256px) {
    padding: 0 20px;
  }
}
.pageTitle {
  margin: 0 0 40px 0;
  @media (max-width: 768px) {
    margin: 0 0 20px 0;
  }
}

.contentPageContainer {
  display: flex;
  gap: 80px 20px;
}
.rightContainer {
}
.rightContainer {
}

@media (max-width: 1024px) {
  .contentPageContainer {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 0;
  }

  .margin,
  .pageTitle {
    margin-left: 20px;
    margin-right: 20px;
  }
}
