.container {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.filterIconContainer {
  display: none;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1246px) {
    display: block;
  }
}

.txtFilterIcon {
  font-size: 25px;
  margin-left: 20px;
  font-weight: 600;
  color: var(--dark);
}

.dash {
  color: #636b78;
}
