.subscribeContainer {
  display: flex;
  margin: 100px 0px 200px auto;
  max-width: 1568px;
  @media (max-width: 1588px) {
    padding-left: 20px;
    object-position: left;
  }
}

.inputsContainer {
  margin-top: 33px;
  max-width: 392px;
  @media (max-width: 1024px) {
    max-width: 353px;
  }
}

.input {
  margin-top: 16px;
  &:first-child {
    margin-top: 0;
  }
}

.btn {
  margin-top: 30px;
  max-width: 275px;
}

.checked {
  margin-top: 20px;
}

.subscribeFormsDesc {
  font-size: 25px;
  color: var(--dark);
  font-weight: 500;
  margin-top: 28px;
  max-width: 523px;
}

.subscribeImg {
  margin-left: 92px;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;

    @media (max-width: 1300px) {
      object-position: left;
    }
  }
}

@media (max-width: 1216px) {
  .subscribeImg {
    display: none;
    width: 0px;
  }

  .subscribeContainer {
    max-width: 768px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscribeFormsDesc {
    max-width: 100%;
  }
}

@media (max-width: 1216px) and (min-width: 569px) {
  .input {
    margin-top: 0px;
  }
  .inputsContainer {
    display: flex;
    column-gap: 20px;
    max-width: 100%;
  }

  .btnsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .btn {
    margin-top: 0px;
    order: 1;
  }

  .checked {
    margin-top: 0px;
    margin-left: 20px;
    order: 2;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 568px) {
  .inputsContainer {
    max-width: 100%;
  }
  .subscribeFormsDesc {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .btnsContainer,
  .btn {
    width: 100%;
  }
}
