.catalogContainer {
  margin: 108px auto 0px auto;
  width: 1216px;
  height: 987px;
  display: grid;
  grid-template-rows: 59px 1fr 100px;
}

.catalogItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row: 2 / 3;
  padding-bottom: 20px;
  transform-style: preserve-3d;
}

@media (max-width: 768px) {
  .catalogContainer {
    grid-template-rows: 63px 1fr;
    width: 727px;
    height: 467px;
  }

  .catalogItems {
    height: 467px;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-bottom: 0px;
  }
}
