.miniShopContainer {
  margin: 108px auto 0px auto;
  max-width: 1246px;
  padding: 0 15px;
}

.miniShopItems {
  gap: 20px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
