.catalogContainer {
  margin: 50px auto 200px auto;
  max-width: 1246px;
  padding: 0 15px;
  @media screen and (max-width: 1246px) {
    max-width: 937px;
  }
  @media screen and (max-width: 992px) {
    max-width: 757px;
  }

  @media (max-width: 768px) {
    margin: 30px auto 200px auto;
  }

  @media (max-width: 576px) {
    margin: 20px auto 200px auto;
  }
}

.btn {
  width: 275px;
  height: 70px;
  margin: 40px 0px 0px calc(50% - 137px);
}
