.down {
  margin-top: 13px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1024px) {
    margin-top: 0px;
    padding-bottom: 0px;
  }
}
