@import '@/styles/variables.scss';

.container {
  width: 100%;
}

.label {
  font-size: 17px;
  color: var(--txt-gray2);
  display: block;
}

.input {
  width: 100%;
  margin-top: 9px;
  height: 70px;
  padding: 23px 10px 23px 30px;
  border: none;
  background-color: #f5f5f5;
  font-size: 17px;
  color: $dark-orange;
  width: 100%;
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $gray;
    font-size: 17px;
  }

  &_error {
    border: 1px solid $red;
  }
}

.error {
  font-size: 14px;
  line-height: 20px;
  color: $red;
  margin-top: 4px;
}
