.headContainer {
  padding-top: 14px;
  max-width: 100%;
  background-color: #050402;
}

.head {
  max-width: 1246px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1024px) {
  .headContainer {
    padding: 20px 18px;
  }
}
