.headContainer {
  padding-top: 14px;
  max-width: 100%;
  background-color: #050402;
}

.head {
  max-width: 1246px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.divider {
  margin-top: 11px;
  background-color: var(--dark-orange);
}

@media (max-width: 992px) {
  .headContainer {
    padding: 19px 20px;
  }
  .divider {
    display: none;
  }
}
