.headContainer {
  padding-top: 14px;
  max-width: 100%;
  background-color: #050402;
  height: 168px;
}

.head {
  width: 1216px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .head {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1024px) {
  .headContainer {
    height: 80px;
    padding: 20px 18px;
  }
}
