
.modalBody {
  padding: 40px 60px;
  background-color: var(--bg);
  max-width: 430px;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.smsToBody {
  padding: 30px 30px;
}
.headTxt {
  font-weight: bold;
  color: var(--dark);
  font-size: 30px;
  max-width: 250px;
}

.btn {
  width: 100%;
  height: 70px;
}

.checked {
  max-width: 313px;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.infoTxt {
  text-align: center;
  font-size: 17px;
  color: var(--dark);
}

.numberTxt {
  font-weight: bold;
}

.codeInputContainer {
  display: flex;
  column-gap: 20px;
}

.btnOk {
  width: 40px;
  height: 40px;
  background-color: var(--orange);
  font-size: 17px;
  color: var(--white);

  &:hover {
    background-color: var(--dark-orange);
  }
}
