.containerImages {
}

.desktopContainer {
  height: 100%;
  display: flex;
  @media (max-width: 992px) {
    display: none;
  }
}

.radioConrainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currentImage {
  position: relative;
  width: 470px;
  height: 100%;
  margin-left: 20px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}
.image {
  width: 100%;
}

.favorite {
  position: absolute;
  top: 50px;
  right: 37px;
  svg {
    width: 33px;
    height: 30px;
  }
}
