.blockLine {
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
}

.degBlock {
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #bb8c5f;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #bb8c5f;
}
