.containerSlider {
  width: 100%;
}

.itemImage {
  object-fit: fill;
  background-color: #f4f4f4;
}
.slide {
  max-width: 100%;
}
.pagination {
  width: 100%;
  height: 16px;
}

.slider__pagination {
  position: absolute;
  bottom: 0;
  left: calc(50% - 24px);
  width: 48px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__item {
  background-color: #e3e3e3;
  width: 6px;
  height: 6px;
}

.active {
  background-color: var(--dark-orange);
}

@media (max-width: 992px) {
  .itemImage {
    width: 229px;
  }
  .slider__pagination {
    display: none;
  }
}
