.containerFilters {
  position: relative;
  max-width: 100%;
  margin: 40px 0px 0px 0px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    height: 1px;
  }
}

.filterList {
  display: flex;
  list-style: none;
}

.filter {
  margin-left: 20px;

  &:first-child {
    margin-left: 0px;
  }
}
