.container {
  position: relative;
  min-width: 598px;
  height: 307px;
  background-color: var(--black);
  padding: 50px;
  display: flex;
  flex-direction: column;
  opacity: inherit;
  transform: inherit;
  transition: 0.6s;
  &:last-child {
    margin-right: 0px;
  }
}

.reviewTxt {
  flex-grow: 1;
  font-size: 17px;
  line-height: 23.8px;
  color: var(--gray);
}

.divider {
  background-color: var(--orange);
  position: absolute;
  width: 100%;

  &:first-child {
    top: -3px;
    left: 0;
  }

  &:last-child {
    bottom: -3px;
    left: 0;
  }
}

.instContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon {
  border: 1px solid var(--orange);
}

.instLink {
  margin-left: 15px;
  color: var(--orange);
  font-size: 20px;
  font-family: "Forum";
}

.faceContainer {
  position: absolute;
  top: -50px;
  width: 80px;
  height: 80px;
  border: 3px solid var(--orange);
  img {
    max-width: 100%;
  }
}

@media (max-width: 660px) {
  .reviewTxt {
    font-size: 15px;
  }
  .container {
    padding: 40px 20px;

    min-width: 279px;
    height: 403px;
  }
  .faceContainer {
    width: 60px;
    height: 60px;
    top: -30px;
  }
}
