.bannersContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25vw;
  margin-top: 120px;
}

.banner {
  position: relative;
  height: 100%;
  width: 49%;
  padding: 40px;
  background-color: white;
}

.bannerTxt {
  color: #faf6f2;
  font-weight: bold;
  font-size: 40px;
  width: 301px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerBtn {
  max-width: 179px;
  position: absolute;
}
.left {
  .bannerBtn {
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .bannerTxt {
    margin-left: calc(50% - 150px);
  }
  background-image: url(../../assets/images/banners/paints.png);
}

.right {
  background-image: url(../../assets/images/banners/foxx-viper.png);
  .bannerBtn {
    bottom: 50px;
    left: 50px;
  }
}
