.title {
  margin-left: 40px;
  font-size: 13px;
  color: var(--txt-gray2);
  line-height: 15.6px;
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--orange);
    left: 0;
    top: calc(50% - 11px);
    background-position: 2px 3px;
    background-repeat: no-repeat;
  }
}

.input {
  display: none;
}

.inputBox {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.input:checked + .title::after {
  background-color: var(--orange);
  background-image: url(../../../assets/staticIcons/checked.svg);
}
