.logo {
  margin-left: 11.68%;
  width: 186px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logoText {
  color: var(--orange);
  align-self: center;
}

.logoName {
  font-size: 30px;
  font-family: "Forum";
}

.logoSubName {
  font-size: 14px;
  font-family: "Jost";
}

@media screen and (width < 1060px) {
  .logo {
    margin-left: 8%;
  }
}

@media screen and (width < 920px) {
  .logo {
    margin-left: 2%;
  }
}
